# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
env/

# Django
*.log
db.sqlite3
media/

# Static files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Local settings
local_settings.py